body {
    background-color: #0a0a23;
    margin: 40px auto;
    color: white;
    text-align: center;
}

h1 {
    font-size: 50px;
}

.container {
    margin: 0 auto;
    width: 60%;
    height: 100%;
    text-align: left;
}

input {
    height: 25px;
    margin-top: 0;
    width: 150px;
}

pre {
    margin-top: 0;
    font-size: 20px;
}

p {
    font-size: 20px;
    display: inline-block;
    margin-right: 10px;
}

.meal {
    font-size: 25px;
    margin-bottom: 20px;
}

#options {
    width: 120px;
    height: 30px;
}

button {
    width: 120px;
    height: 30px;
    background-color: orange;
    border: none;
    cursor: pointer;
    margin: 5px;
}

#Calculate {
    width: 200px;
    height: 30px;
    background-color: orange;
}

input[type="text"] {
    height: 25px;
    margin-top: 0;
    width: 200px;
    margin-left: 10px;
}

input[type="number"] {
    height: 25px;
    margin-top: 0;
    width: 100px;
    margin-left: 10px;
}

.Entry_Break {
    display: none;
}

#result {
    border: 2px solid white;
    text-align: left;
    width: 100%;
    height: auto;
    padding: 20px;
    margin-top: 20px;
    display: none;
}

#res {
    font-size: 25px;
    border-bottom: 1px solid white;
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 15px;
    color: palevioletred;
}

#total_budget, #consumed_calories, #Burned_calories {
    font-size: 18px;
    margin: 10px 0;
}





